body{
  margin: 0;
}

pre{
  line-height: 1.8;
  font-family: Menlo,Monaco,Consolas,Courier,monospace;
  font-size: 12px;
  padding: 18px 24px;
  background-color: #fafafa;
  margin: 0;
  border: none;
  max-height: none;
  border-radius: 0;
}
a{
  color: #799961;
}
::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track{
  border-radius: 20px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 10px;
}
